Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2020-02, with the labels that each got.

#1154 Add back aws api cache
  cmd/main.go
  cmd/options.go
  go.mod
  go.sum
  internal/aws/cloud.go
  internal/aws/session.go
  test/e2e/framework/framework.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M

#1126 Add support for enabling AWS Shield Advanced protection
  docs/examples/iam-policy.json
  docs/guide/ingress/annotation.md
  internal/alb/lb/loadbalancer.go
  internal/alb/lb/shield.go
  internal/alb/lb/shield_test.go
  internal/aws/cloud.go
  internal/aws/shield.go
  internal/aws/shield_test.go
  internal/ingress/annotations/annotations.go
  internal/ingress/annotations/loadbalancer/main.go
  internal/ingress/controller/config/features.go
  mocks/CloudAPI.go
  mocks/ShieldAPI.go
  scripts/gen_mocks.sh
  tester/test-config.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL

#1148 Fix doc spelling typo
  docs/guide/ingress/annotation.md
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/XS

#1162 Detect unconditional redirects and ignore any rules defined afterwards
  internal/alb/ls/rules.go
  internal/alb/ls/rules_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L

#1166 Ingress controller V2 skeleton
  Makefile
  controllers/ingress/eventhandlers/ingress_events.go
  controllers/ingress/group_controller.go
  deploy/ingress.yaml
  go.mod
  go.sum
  main.go
  mocks/controller-runtime/client/mock_client.go
  pkg/algorithm/maps.go
  pkg/algorithm/maps_test.go
  pkg/annotations/constants.go
  pkg/annotations/parser.go
  pkg/annotations/parser_test.go
  pkg/ingress/finalizer.go
  pkg/ingress/finalizer_test.go
  pkg/ingress/group.go
  pkg/ingress/group_loader.go
  pkg/ingress/group_loader_test.go
  pkg/ingress/group_test.go
  pkg/ingress/patches.go
  pkg/k8s/utils.go
  pkg/k8s/utils_test.go
  scripts/gen_mocks.sh
Labels: approved, cncf-cla: yes, lgtm, size/XXL

#1176 Typo in the "alb-ingress-controller.yaml" if env variables are to be used
  docs/examples/alb-ingress-controller.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS
