Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2021-03, with the labels that each got.

#1832 Add support for NLB instance mode
  controllers/service/eventhandlers/service_events.go
  pkg/annotations/constants.go
  pkg/deploy/elbv2/target_group_binding_manager.go
  pkg/model/elbv2/target_group_binding.go
  pkg/service/model_build_target_group.go
  pkg/service/model_build_target_group_test.go
  pkg/service/model_builder.go
  pkg/service/model_builder_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XXL, tide/merge-method-squash

#1849 IngressClassParams support
  Makefile
  PROJECT
  apis/elbv2/v1beta1/ingressclassparams_types.go
  apis/elbv2/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/elbv2.k8s.aws_ingressclassparams.yaml
  config/crd/kustomization.yaml
  config/crd/patches/cainjection_in_ingressclassparams.yaml
  config/crd/patches/webhook_in_ingressclassparams.yaml
  config/rbac/ingressclassparams_editor_role.yaml
  config/rbac/ingressclassparams_viewer_role.yaml
  config/samples/elbv2_v1beta1_ingressclassparams.yaml
  config/webhook/manifests.v1beta1.yaml
  controllers/ingress/group_controller.go
  docs/deploy/configurations.md
  go.mod
  go.sum
  main.go
  pkg/annotations/constants.go
  pkg/config/ingress_config.go
  pkg/ingress/class_annotation_matcher.go
  pkg/ingress/class_annotation_matcher_test.go
  pkg/ingress/group_loader.go
  pkg/ingress/group_loader_test.go
  scripts/ci_e2e_test.sh
  scripts/ci_unit_test.sh
  webhooks/networking/ingress_validator.go
  webhooks/networking/ingress_validator_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL, tide/merge-method-squash

#1866 Fixed race condition test
  Makefile
  pkg/aws/throttle/throttler_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XS, tide/merge-method-squash

#1880 Add support for specifying the load balancer's name via annotation
  pkg/annotations/constants.go
  pkg/service/model_build_load_balancer.go
  pkg/service/model_build_load_balancer_test.go
  test/e2e/service/service.go
  test/e2e/service/service_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/L, tide/merge-method-squash

#1881 Add a flag to set the default SSL Policy
  controllers/ingress/group_controller.go
  controllers/service/service_controller.go
  docs/deploy/configurations.md
  pkg/config/controller_config.go
  pkg/ingress/model_builder.go
  pkg/service/model_build_listener.go
  pkg/service/model_builder.go
  pkg/service/model_builder_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, tide/merge-method-squash

#1860 Add e2e tests for NLB instance mode
  test/e2e/service/aws_resource_verifier.go
  test/e2e/service/nlb_instance_target.go
  test/e2e/service/nlb_instance_target_test.go
  test/e2e/service/nlb_ip_target.go
  test/e2e/service/nlb_ip_target_test.go
  test/e2e/service/resource_stack.go
  test/e2e/service/service.go
  test/e2e/service/service_suite_test.go
  test/framework/framework.go
  test/framework/http/matcher.go
  test/framework/http/response.go
  test/framework/resources/aws/load_balancer.go
  test/framework/resources/aws/target_group.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL, tide/merge-method-squash

#1874 Support target node labels for ingress
  docs/guide/ingress/annotations.md
  pkg/annotations/constants.go
  pkg/ingress/model_build_target_group.go
  pkg/ingress/model_build_target_group_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L

#1889 Updating the default resource tag documentation to reference the correct tag name
  docs/guide/ingress/annotations.md
Labels: approved, cncf-cla: yes, needs-ok-to-test, size/XS

#1888 improve missing service handling for targetGroupBinding
  main.go
  pkg/backend/endpoint_resolver.go
  pkg/backend/endpoint_resolver_test.go
  pkg/k8s/events.go
  pkg/targetgroupbinding/resource_manager.go
Labels: approved, cncf-cla: yes, lgtm, size/L, tide/merge-method-squash

#1894 Update nlb target type annotation
  controllers/service/eventhandlers/service_events.go
  docs/guide/service/annotations.md
  pkg/annotations/constants.go
  pkg/ingress/model_build_target_group_test.go
  pkg/service/model_build_target_group.go
  pkg/service/model_build_target_group_test.go
  pkg/service/model_builder.go
  pkg/service/model_builder_test.go
  test/e2e/service/nlb_instance_target.go
  test/e2e/service/nlb_ip_target_test.go
Labels: approved, cncf-cla: yes, lgtm, size/L, tide/merge-method-squash

#1896 Update installation instructions
  docs/deploy/installation.md
Labels: approved, cncf-cla: yes, lgtm, size/S, tide/merge-method-squash

#1902 add validating webhook for ingress_class_params
  main.go
  pkg/ingress/class.go
  pkg/ingress/class_loader.go
  pkg/ingress/class_loader_test.go
  pkg/ingress/group_loader.go
  webhooks/networking/ingress_validator.go
  webhooks/networking/ingress_validator_test.go
Labels: approved, cncf-cla: yes, lgtm, size/XXL
