Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2021-01, with the labels that each got.

#1688 Issue #1609 - Handling Cluster AutoScaler Taint to determine the healthiness of node
  controllers/elbv2/eventhandlers/node.go
  pkg/backend/endpoint_resolver.go
  pkg/k8s/node_utils.go
  pkg/k8s/node_utils_test.go
Labels: cncf-cla: yes, lgtm, ok-to-test, size/M, tide/merge-method-squash

#1749 upgrade yq to v4
  Makefile
  go.mod
  go.sum
  scripts/ci_e2e_test.sh
  scripts/ci_unit_test.sh
  scripts/lib/eksctl.sh
Labels: approved, cncf-cla: yes, lgtm, size/L

#1750 sort subnets by id
  pkg/networking/subnet_resolver.go
  pkg/networking/subnet_resolver_test.go
Labels: cncf-cla: yes, size/M

#1726 enable e2e tests for service
  scripts/ci_e2e_test.sh
  test/e2e/service/service.go
  test/e2e/service/service_test.go
  test/framework/options.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/M, tide/merge-method-squash
