Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2022-04, with the labels that each got.

#2409 Sort ingress rules by path length and pathType
  pkg/ingress/model_build_listener_rules.go
  pkg/ingress/model_build_listener_rules_test.go
Labels: lgtm, approved, size/L, cncf-cla: yes, tide/merge-method-squash, ok-to-test

#2610 [minor] - print the env variable name in the output
  test/e2e/run-e2e-test.sh
Labels: needs-ok-to-test, size/XS, cncf-cla: yes

#2606 Updated deployment for prometheus.io annotations when sericeMonitor i…
  helm/aws-load-balancer-controller/templates/deployment.yaml
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#2579 Added feature gate to restrict to only ingress resources
  docs/deploy/configurations.md
  main.go
  pkg/config/feature_gates.go
Labels: lgtm, approved, cncf-cla: yes, size/S, ok-to-test

#2620 Format clusterSecretsPermissions.allowAllSecrets
  helm/aws-load-balancer-controller/README.md
Labels: needs-ok-to-test, size/XS, cncf-cla: yes

#2611 helm: add deployment annotation
  helm/aws-load-balancer-controller/Chart.yaml
  helm/aws-load-balancer-controller/README.md
  helm/aws-load-balancer-controller/templates/deployment.yaml
  helm/aws-load-balancer-controller/test.yaml
  helm/aws-load-balancer-controller/values.yaml
Labels: lgtm, approved, cncf-cla: yes, size/S, tide/merge-method-squash, ok-to-test
