Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2024-12, with the labels that each got.

#3903 TargetGroupBinding now support targetGroupName - #2655 refresh
  apis/elbv2/v1alpha1/targetgroupbinding_types.go
  apis/elbv2/v1beta1/targetgroupbinding_types.go
  config/crd/bases/elbv2.k8s.aws_targetgroupbindings.yaml
  docs/guide/targetgroupbinding/targetgroupbinding.md
  helm/aws-load-balancer-controller/crds/crds.yaml
  webhooks/elbv2/targetgroupbinding_mutator.go
  webhooks/elbv2/targetgroupbinding_mutator_test.go
  webhooks/elbv2/targetgroupbinding_validator.go
  webhooks/elbv2/targetgroupbinding_validator_test.go
Labels: lgtm, size/L, cncf-cla: yes, ok-to-test

#3908 Add --default-load-balancer-scheme command line flag
  controllers/ingress/group_controller.go
  controllers/service/service_controller.go
  docs/deploy/configurations.md
  pkg/config/controller_config.go
  pkg/ingress/model_builder.go
  pkg/ingress/model_builder_test.go
  pkg/service/model_build_load_balancer.go
  pkg/service/model_builder.go
  pkg/service/model_builder_test.go
Labels: lgtm, size/L, cncf-cla: yes, ok-to-test

#3950 Add support for capacity unit reservation for load balancers
  .gitignore
  apis/elbv2/v1beta1/ingressclassparams_types.go
  apis/elbv2/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/elbv2.k8s.aws_ingressclassparams.yaml
  controllers/ingress/group_controller.go
  controllers/service/service_controller.go
  docs/deploy/configurations.md
  docs/guide/ingress/annotations.md
  docs/guide/ingress/ingress_class.md
  docs/guide/service/annotations.md
  docs/install/iam_policy.json
  docs/install/iam_policy_cn.json
  docs/install/iam_policy_us-gov.json
  go.mod
  go.sum
  helm/aws-load-balancer-controller/crds/crds.yaml
  helm/aws-load-balancer-controller/templates/deployment.yaml
  helm/aws-load-balancer-controller/values.yaml
  pkg/annotations/constants.go
  pkg/aws/services/elbv2.go
  pkg/aws/services/elbv2_mocks.go
  pkg/config/controller_config.go
  pkg/config/feature_gates.go
  pkg/deploy/elbv2/load_balancer_capacity_reservation_reconciler.go
  pkg/deploy/elbv2/load_balancer_capacity_reservation_reconciler_test.go
  pkg/deploy/elbv2/load_balancer_manager.go
  pkg/deploy/elbv2/load_balancer_synthesizer.go
  pkg/deploy/elbv2/load_balancer_synthesizer_test.go
  pkg/deploy/stack_deployer.go
  pkg/ingress/model_build_load_balancer.go
  pkg/ingress/model_build_load_balancer_capacity_reservation.go
  pkg/ingress/model_build_load_balancer_capacity_reservation_test.go
  pkg/model/elbv2/load_balancer.go
  pkg/service/model_build_load_balancer.go
  pkg/service/model_build_load_balancer_test.go
  scripts/aws_sdk_model_override/cleanup.sh
  scripts/aws_sdk_model_override/setup.sh
Labels: size/XXL, cncf-cla: yes

#3958 fix: EnablePrefixForIpv6SourceNat is only applicable to NLB
  pkg/deploy/elbv2/load_balancer_manager.go
  pkg/deploy/elbv2/load_balancer_manager_test.go
Labels: lgtm, cncf-cla: yes, size/S

#3975 Update owners of the project
  OWNERS
Labels: cncf-cla: yes, size/S

#3976 fix failing test
  pkg/service/model_builder_test.go
Labels: lgtm, size/XS, cncf-cla: yes, ok-to-test

#3980 cut v2.11.0 release
  Makefile
  config/controller/kustomization.yaml
  docs/deploy/installation.md
  docs/examples/echo_server.md
  helm/aws-load-balancer-controller/Chart.yaml
  helm/aws-load-balancer-controller/test.yaml
  helm/aws-load-balancer-controller/values.yaml
  version-stable.txt
  version.txt
Labels: approved, cncf-cla: yes, size/M
