Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2024-04, with the labels that each got.

#3630 fix: Adding VpcID to TGB broke upgradability.
  main.go
  webhooks/elbv2/targetgroupbinding_validator.go
  webhooks/elbv2/targetgroupbinding_validator_test.go
Labels: lgtm, approved, cncf-cla: yes, size/M, ok-to-test

#3594 Add support for optionally enforcing NLB security groups on PrivateLi…
  controllers/service/service_controller.go
  docs/guide/service/annotations.md
  pkg/annotations/constants.go
  pkg/deploy/elbv2/load_balancer_manager.go
  pkg/model/elbv2/load_balancer.go
  pkg/service/model_build_load_balancer.go
  pkg/service/model_builder.go
  pkg/service/model_builder_test.go
Labels: lgtm, approved, size/L, cncf-cla: yes, tide/merge-method-squash, ok-to-test

#3642 chore: Update go version to mitigate CVE
  .go-version
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#3641 Preserve loadBalancerClass on Service updates
  webhooks/core/service_mutator.go
  webhooks/core/service_mutator_test.go
Labels: lgtm, approved, cncf-cla: yes, size/M, tide/merge-method-squash, ok-to-test

#3647 Feature Support --load-balancer-class in Helm Chart(#3629)
  helm/aws-load-balancer-controller/README.md
  helm/aws-load-balancer-controller/templates/deployment.yaml
  helm/aws-load-balancer-controller/values.yaml
Labels: lgtm, size/XS, approved, cncf-cla: yes, tide/merge-method-squash, ok-to-test

#3590 docs : update external-dns example
  docs/guide/integrations/external_dns.md
Labels: lgtm, needs-ok-to-test, size/XS, approved, cncf-cla: yes

#3653 Provide more customization options for the service mutator webhook
  helm/aws-load-balancer-controller/README.md
  helm/aws-load-balancer-controller/templates/webhook.yaml
  helm/aws-load-balancer-controller/test.yaml
  helm/aws-load-balancer-controller/values.yaml
Labels: lgtm, approved, cncf-cla: yes, size/M, tide/merge-method-squash, ok-to-test

#3662 Add DescribeTrustStores to IAM policy for China partition
  docs/install/iam_policy_cn.json
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#3584 feat: Specify Managed Prefix List for access control
  docs/guide/ingress/annotations.md
  docs/guide/service/annotations.md
  pkg/annotations/constants.go
  pkg/deploy/ec2/security_group_manager.go
  pkg/ingress/model_build_listener.go
  pkg/ingress/model_build_managed_sg.go
  pkg/ingress/model_builder.go
  pkg/ingress/model_builder_test.go
  pkg/model/ec2/security_group_ingress.go
  pkg/service/model_build_managed_sg.go
  pkg/service/model_build_managed_sg_test.go
Labels: lgtm, approved, cncf-cla: yes, size/XL, tide/merge-method-squash, ok-to-test

#3659 upgrade x/net to v0.23.0
  go.mod
  go.sum
Labels: lgtm, approved, cncf-cla: yes, size/S
