Repository kubernetes-sigs/aws-load-balancer-controller, pull requests merged in 2025-01, with the labels that each got.

#3906 Add helm chart configuration for --aws-vpc-tags argument
  helm/aws-load-balancer-controller/README.md
  helm/aws-load-balancer-controller/templates/deployment.yaml
  helm/aws-load-balancer-controller/values.yaml
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#3959 fix: Cannot set the IPv6 addresses in dualstack mode during modification
  pkg/deploy/elbv2/load_balancer_manager.go
  pkg/deploy/elbv2/load_balancer_manager_test.go
Labels: lgtm, approved, cncf-cla: yes, size/M

#4010 Fix CVE-2024-45338 - golang.org/x/net
  go.mod
  go.sum
Labels: approved, cncf-cla: yes, size/M

#4001 bug fix: use reasonable buckets for readiness gate flip metrics
  pkg/metrics/lbc/instruments.go
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#4011 bump sigs.k8s.io/controller-runtime to v0.19.3
  controllers/elbv2/eventhandlers/endpoints.go
  controllers/elbv2/eventhandlers/endpoints_test.go
  controllers/elbv2/eventhandlers/endpointslices.go
  controllers/elbv2/eventhandlers/endpointslices_test.go
  controllers/elbv2/eventhandlers/node.go
  controllers/elbv2/eventhandlers/service.go
  controllers/elbv2/eventhandlers/service_test.go
  controllers/elbv2/targetgroupbinding_controller.go
  controllers/ingress/eventhandlers/ingress_class_events.go
  controllers/ingress/eventhandlers/ingress_class_params_events.go
  controllers/ingress/eventhandlers/ingress_events.go
  controllers/ingress/eventhandlers/secret_events.go
  controllers/ingress/eventhandlers/service_events.go
  controllers/ingress/group_controller.go
  controllers/service/eventhandlers/service_events.go
  controllers/service/service_controller.go
  go.mod
  go.sum
  pkg/ingress/group.go
  pkg/ingress/group_test.go
  pkg/testutils/event_handler_test_utils.go
Labels: lgtm, approved, size/L, cncf-cla: yes

#3983 fix(helm): change topologySpreadConstraints default value
  helm/aws-load-balancer-controller/values.yaml
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#3691 TargetGroupBindings can now manipulate target groups from different aws accounts
  apis/elbv2/v1beta1/targetgroupbinding_types.go
  controllers/ingress/group_controller.go
  controllers/service/service_controller.go
  docs/deploy/installation.md
  docs/guide/targetgroupbinding/spec.md
  docs/guide/targetgroupbinding/targetgroupbinding.md
  go.mod
  pkg/aws/cloud.go
  pkg/aws/provider/default_aws_clients_provider.go
  pkg/aws/provider/provider.go
  pkg/aws/services/cloudInterface.go
  pkg/aws/services/elbv2.go
  pkg/aws/services/elbv2_mocks.go
  pkg/deploy/stack_deployer.go
  pkg/targetgroupbinding/resource_manager.go
  pkg/targetgroupbinding/targets_manager.go
  pkg/targetgroupbinding/targets_manager_test.go
  pkg/targetgroupbinding/utils.go
  test/framework/framework.go
  webhooks/elbv2/targetgroupbinding_mutator.go
  webhooks/elbv2/targetgroupbinding_mutator_test.go
  webhooks/elbv2/targetgroupbinding_validator.go
  webhooks/elbv2/targetgroupbinding_validator_test.go
Labels: lgtm, approved, cncf-cla: yes, size/XL, tide/merge-method-squash, ok-to-test

#3806 [helm chart] Fix passing template values for region
  helm/aws-load-balancer-controller/templates/deployment.yaml
Labels: lifecycle/rotten, lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#3939 feat(NLB): Introduce Service annotation to allow ICMP for Path MTU Discovery
  docs/guide/service/annotations.md
  pkg/annotations/constants.go
  pkg/service/model_build_load_balancer.go
  pkg/service/model_build_managed_sg.go
  pkg/service/model_builder_test.go
Labels: lgtm, approved, cncf-cla: yes, size/M, ok-to-test

#4032 Added ISO Policy for iso-e and iso-f in example docs, and updated integration test script based on *testing already done*
  docs/install/iam_policy_isoe.json
  docs/install/iam_policy_isof.json
  scripts/run-e2e-test.sh
  test/prow/v2_6_0_adc.yaml
  test/prow/v2_8_2_adc.yaml
  test/prow/v2_8_2_ingclass.yaml
Labels: lgtm, approved, size/XXL, cncf-cla: yes

#4007 docs: added annotation behaviour note
  docs/guide/ingress/annotations.md
Labels: lgtm, size/XS, approved, cncf-cla: yes, ok-to-test

#4026 Follow up for 3691 [TargetGroupBindings can now manipulate target groups from different aws accounts]
  apis/elbv2/v1alpha1/targetgroupbinding_types.go
  apis/elbv2/v1beta1/targetgroupbinding_types.go
  config/crd/bases/elbv2.k8s.aws_targetgroupbindings.yaml
  docs/guide/targetgroupbinding/spec.md
  docs/guide/targetgroupbinding/targetgroupbinding.md
  go.sum
  helm/aws-load-balancer-controller/crds/crds.yaml
  main.go
  pkg/aws/aws_config.go
  pkg/aws/cloud.go
  pkg/aws/cloud_util.go
  pkg/aws/cloud_util_test.go
  pkg/aws/provider/default_aws_clients_provider.go
  pkg/aws/provider/provider.go
  pkg/aws/services/cloudInterface.go
  pkg/aws/services/elbv2.go
  pkg/aws/services/elbv2_mocks.go
  pkg/targetgroupbinding/resource_manager.go
  pkg/targetgroupbinding/targets_manager.go
  pkg/targetgroupbinding/targets_manager_test.go
  pkg/targetgroupbinding/utils.go
  test/framework/framework.go
  webhooks/elbv2/targetgroup_helper.go
  webhooks/elbv2/targetgroupbinding_mutator.go
  webhooks/elbv2/targetgroupbinding_mutator_test.go
  webhooks/elbv2/targetgroupbinding_validator.go
  webhooks/elbv2/targetgroupbinding_validator_test.go
Labels: lgtm, approved, cncf-cla: yes, size/XL, ok-to-test

#4022 Checking for taint `karpenter.sh/disrupted:NoSchedule` while checking if node is suitable to handle traffic.
  pkg/backend/endpoint_utils.go
  pkg/backend/endpoint_utils_test.go
Labels: lgtm, approved, cncf-cla: yes, size/M, ok-to-test

#4021 [feat] allow multiple targetgroupbindings to reference same tg arn if using multicluster mode
  docs/guide/targetgroupbinding/targetgroupbinding.md
  webhooks/elbv2/targetgroupbinding_validator.go
  webhooks/elbv2/targetgroupbinding_validator_test.go
Labels: lgtm, approved, size/L, cncf-cla: yes, ok-to-test
